@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
}

body {
  min-height: 100vh;
  background-color: rgb(34, 34, 34);
  background-image: url('./assets/img/library.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* NAVIGATION */
.nav-links {
  padding: 10px;
  text-decoration: none;
  color: white;
}

.nav-links:hover {
  border-bottom: 1px solid white;
}